* {
  box-sizing: border-box;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto';
  background-color: white;
}
.heading {
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.product-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  border: 0;
  flex-wrap: wrap;
  margin-left:30px;
  background-color:white;
}
.product {
  border: 0;
  height: 210px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom:25px;
  padding:10px;
}
.img {
  height: 100px;
  width: 100px;
}
.para{
    color:black;
    font-weight:bold;
    font-size:15px;
}
.para1{
    color:red;
    font-weight:bold;
    font-size:15px;
}
.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p4{
    color:blue;
    font-size:18px;
    font-weight:bold;
}
.p3{
    color:red;
    font-size:14px;
    margin-left:80px;
    margin-right:80px;
    font-weight:500;
}
.p5{
    color:black;
    font-size:18px;
    font-weight:bold;
}
.h2{
    color:black;
}
.img1{
    height:280px;
    width:300px;
}